/* profile section */

.profilePic {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

/* profile highlight text */

.highlight {
  color: #20c997;
  font-weight: 800;
}

/* greeting string */

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: "";
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: "";
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: blue;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

/* technical skills */

#skills-tabContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-img {
  height: 250px;
  object-fit: cover;
}

.card-icon {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.card-body-text {
  font-size: 0.9rem;
}

.card-footer-icon {
  width: 40px;
  height: 40px;
  radius: 50%;
  cursor: pointer;
}

/* arrow styles */

.arrow {
  position: relative;
  cursor: pointer;
  height: 2rem;
  background: white;
}

.arrowAnimation {
  -webkit-animation: arrowAnimation 0.5s infinite;
  -webkit-animation-fill-mode: both;
}

@media screen and (max-width: 1200px) {
  section {
    margin: 0 5%;
  }

  section,
  .section-container {
    height: fit-content;
  }
}

/* card rotation animation */
.cardRotate {
  transform: rotateY(0deg);
  animation: rotateAnimation 3s ease-in-out infinite;
}

/* contact me section */

.iconAnimation {
  -webkit-animation: iconAnimation 0.5s infinite;
  -webkit-animation-fill-mode: both;
}
