h2 {
  color: #00bfbf;
}

.content-card {
  margin: 0 50px;
}

.content-card-img {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float-slow 3s ease-in-out infinite;
  width: 50px;
  border-radius: 25%;
}

.carousel-item {
  height: 40vh;
  background: no-repeat center center scroll;
  background-size: cover;
  object-fit: cover;
}

.card > iframe {
  width: 100%;
  height: 250px;
}

.author-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1px;
  margin-right: 6px;
}

.author-name {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
}

@media screen and (max-width: 576px) {
  .carousel-item {
    height: 30vh;
    background: no-repeat center center scroll;
    background-size: cover;
    object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-item {
    height: 60vh;
    background: no-repeat center center scroll;
    background-size: cover;
    object-fit: cover;
  }
}
