@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jersey+25&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

section {
  margin: 0 20rem;
}

h1 {
  color: #00bfbf;
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 2.5rem;
  text-align: center;
  align-items: center;
  border-bottom: 3px dotted #008080;
  padding-bottom: 20px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
}
p {
  font-family: Inter;
  letter-spacing: 0.55px;
  font-size: 16px;
  line-height: 28px;
}

@media screen and (max-width: 1200px) {
  section {
    margin: 0 5%;
  }

  section,
  .section-container {
    height: fit-content;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes float-slow {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(45deg);
  }
  70% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(225deg);
  }
}

@keyframes iconAnimation {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-1px, 0);
  }
  100% {
    -webkit-transform: translate(-2px, 0);
  }
}

@keyframes lyricMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* flip card */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.project-flip-container:hover .project-flipper,
.project-flip-container.hover .project-flipper {
  transform: rotateY(180deg);
}

.project-flip-container,
.project-flip-front,
.project-flip-back {
  width: 320px;
  height: 340px;
}

/* flip speed goes here */
.project-flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.project-flip-front,
.project-flip-back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.project-flip-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.project-flip-back {
  transform: rotateY(180deg);
}

/* arrow styles */

.arrow {
  position: relative;
  cursor: pointer;
  height: 2rem;
  background: white;
}

.arrowAnimation {
  -webkit-animation: arrowAnimation 0.5s infinite;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes arrowAnimation {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -5px);
  }
  100% {
    -webkit-transform: translate(0, -10px);
  }
}
